.main-container {
  background-color: #fff;
  height: 100vh;
}
.cards {
  border: 4px solid #f90808;
}
.card {
  border: 1px solid #000;
  max-width: 480px;
  margin-bottom: 16px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit_btn {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 48px;
  background-color: #fff;
  color: #fff;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainText {
  display: flex;
  justify-content: center;
}
.task_input {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 200px;
  margin-right: 8px;
  color: #000;
  background-color: transparent;
}
.add_btn,
.submit_btn {
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 8px;
}
.add_btn:hover {
  filter: brightness(1.2);
}
.task_divide {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.task_title {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-right: 8px;
}
.delete_btn,
.complete_btn,
.incomplete_btn,
.edit_btn,
.save_btn,
.cancel_btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}
.delete_btn:hover,
.complete_btn:hover,
.incomplete_btn:hover,
.save_btn,
.edit_btn,
.cancel_btn {
  background-color: white;
  color: #8e44ad;
  transition: background-color 0.3s ease;
}
.add_tasks {
  margin-bottom: 8px;
}
.status {
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  width: 200px;
  margin-bottom: 16px;
}
.status option {
  background-color: #ffffff;
  color: #333333;
}
.status option:hover {
  background-color: #f5f5f5;
}
.status option:selected {
  background-color: #dddddd;
}
.allTasks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alltask {
  max-width: fit-content;
  padding: 16px;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 8px;
}
.complete,
.incomplete {
  max-width: fit-content;
  padding: 16px;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  color: #000;
}

@media screen and (max-width: 560px) {
  .allTasks {
    display: block;
  }
  .alltask {
    max-width: 400;
    padding: 16px;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 8px;
    margin-bottom: 16px;
  }
  .complete,
  .incomplete {
    max-width: 400px;
    padding: 16px;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 8px;
    color: #000;
  }
}
